$wordpress-admin: (
    White: (
        1: #ffffff
    ),
    Black: (
        1: #000000
    ),
    Blue: (
        1: #0073aa,
        2: #00a0d2,
        3: #83b4d8
    ),
    Green: (
        1: #46b450
    ),
    Red: (
        1: #aa0000,
        2: #ff0000
    ),
    Grey: (
        1: #eeeeee,
        2: #dfdfdf,
        3: #b4b9be
    )
);