.wizzaro-gallery-images {
    margin-top: $wizzaro-gallery-margin-top;
    
    .wgi-items {
        font-size: 0;

        .wgi-item {
            display: inline-block;
            overflow: hidden;
            width: percentage( 1 / $wizzaro-gallery-items-columns );
            vertical-align: top;
            padding: ( $wizzaro-gallery-items-space / 2 );
            
            @media ( max-width: get_screen_size( 3 ) ) {
                width: percentage( 1 / $screen-size-3-max-wizzaro-gallery-items-columns );
            }
            
            @media ( max-width: get_screen_size( 4 ) ) {
                width: percentage( 1 / $screen-size-4-max-wizzaro-gallery-items-columns );
                padding: ( $screen-size-4-max-wizzaro-gallery-items-space / 2 );
            }
            
            a {
                display: block;
                position: relative;
                text-decoration: none !important; 
                
                &:before {
                    content: '+';
                    display: none;
                    
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: row wrap;
                    flex-flow: row wrap;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-align-justify-content: center;
                    justify-content: center;
                    
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $wizzaro-gallery-item-hover-bg-color;
                    background: rgba( $wizzaro-gallery-item-hover-bg-color, $wizzaro-gallery-item-hover-bg-opacity );
                    font-size: $wizzaro-gallery-item-hover-font-size;
                    line-height: $wizzaro-gallery-item-hover-line-height;
                    color: $wizzaro-gallery-item-hover-color;
                    @include transition( opacity, $wizzaro-gallery-item-hover-transition-time, $wizzaro-gallery-item-hover-transition-animation );
                    @include opacity( 0 );
                    
                    @media ( max-width: get_screen_size( 4 ) ) {
                        font-size: $screen-size-4-max-wizzaro-gallery-item-hover-font-size;
                        line-height: $screen-size-4-max-wizzaro-gallery-item-hover-line-height;
                    }
                }
                
                &:hover:before {
                    @include opacity( 1 );
                }
            }
            
            img {
                display: block;
                width: 100%;
                height: auto;
                margin: 0 !important;
            }
        }
    }
}

.js .wizzaro-gallery-images .wgi-items {
    display: none;
}
