.wizzaro-gallery-images .wgi-loader {
    display: none;
    margin: $wizzaro-gallery-loader-vertical-margin 0;
    font-size: $wizzaro-gallery-loader-font-size;
    line-height: $wizzaro-gallery-loader-line-height;
    text-align: center;
    color: $wizzaro-gallery-loader-color;
    
    .loader {
        margin: $wizzaro-gallery-loader-loader-vertical-margin 0;
    }
    
    .progressbar {
        width: $wizzaro-gallery-loader-progressbar-width;
        margin: $wizzaro-gallery-loader-progressbar-vertical-margin auto;
        
        @media ( max-width: get_screen_size( 4 ) ) {
            width: 100%;
        }
    }
}

.js .wizzaro-gallery-images .wgi-loader {
    display: block;
}
