$uploader-drag-grop-area-height: 200px;
$uploader-drag-grop-area-border: 4px dashed get_admin_color( Grey, 3 );
$uploader-drag-grop-area-drag-over-border-color: get_admin_color( Blue, 3 );

$uploader-media-item-process-border-left: 4px solid  get_admin_color( Blue, 1 );
$uploader-media-item-success-border-left-color: get_admin_color( Green );