$wizzaro-gallery-margin-top: 30px;
$wizzaro-gallery-items-columns: 4;
$wizzaro-gallery-items-space: 10px;

$wizzaro-gallery-item-hover-bg-color: #000000;
$wizzaro-gallery-item-hover-bg-opacity: 0.7;
$wizzaro-gallery-item-hover-font-size: 50px;
$wizzaro-gallery-item-hover-line-height: 50px;
$wizzaro-gallery-item-hover-color: #ffffff;
$wizzaro-gallery-item-hover-transition-time: 0.15s;
$wizzaro-gallery-item-hover-transition-animation: ease-out;

//screen size max 3
$screen-size-3-max-wizzaro-gallery-items-columns: 3;

//screen size max 4
$screen-size-4-max-wizzaro-gallery-items-columns: 2;
$screen-size-4-max-wizzaro-gallery-items-space: 5px;

$screen-size-4-max-wizzaro-gallery-item-hover-font-size: 25px;
$screen-size-4-max-wizzaro-gallery-item-hover-line-height: 25px;