$wizzaro-gallery-loader-vertical-margin: 60px;
$wizzaro-gallery-loader-font-size: 16px;
$wizzaro-gallery-loader-line-height: 19px;
$wizzaro-gallery-loader-color: #000000;

$wizzaro-gallery-loader-loader-vertical-margin: 30px;

$wizzaro-gallery-loader-progressbar-width: 400px;
$wizzaro-gallery-loader-progressbar-vertical-margin: 20px;
